#rangkuman {
  display: none;
}

.rangkuman_table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.rangkuman_table table thead {
  background-color: #d5edd4;
}

.rangkuman_table table thead th {
  text-align: center;
  font-weight: bold;
  border: 0.5px solid #abc9aa;
}

.rangkuman_table table tbody td {
  text-align: right;
}

.rangkuman_table table tfoot th {
  text-align: right;
}

table {
  width: 1300px !important;
}

.dataTables_length {
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

a {
  text-decoration: none;
  color: #3dad38;
}

#breadcrumb {
  font-size: 16px;
  font-style: italic;
  padding: 0;
  margin-bottom: 20px;
}

#rangkuman {
  margin-top: 20px;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 4px 5px;
}

table.dataTable tbody tr:nth-child(odd) {
  background-color: #f2f2f2 !important;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #ffffff !important;
}

table.dataTable tbody tr:hover {
  background-color: #d1e7dd !important;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
